<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .container-fluid .col-sm-10>p {
            background-color: #F5F5F5;
            padding: .8rem;
            color: #A08388;
        }

        .search {
            border: 1px solid #E8E8E8;
        }

        .search>p {
            background-color: #F5F5F5;
            padding: .8rem;
            color: #596164;
        }

        .search input {
            width: 200px;
            height: 30px;
            padding: 0;
            border: 1px solid #000;
            display: inline-block;
        }

        label{
            font-weight: 300;
        }
        p{
            margin: 5px 0 0 0;
        }
    </style>
</head>

<body>
    <%- include('../common/header.ejs') -%>
    <div class="container-fluid">
        <div class="col-sm-2">
            <%- include('../common/aside.ejs') -%>
        </div>
        <div class="col-sm-10">
            <p><span>商品管理</span> / <span>商品列表</span></p>
            <div class="search">
                <p>修改用户</p>
                <form style="padding:0 0 10px 20px" action="/admin/doedituser?id=<%=editData._id%>" method="POST">
                    <p>
                        <label for="uname">用户姓名:</label>
                        <input type="text" class="form-control" id="username" name="username" value="<%=editData.username%>">
                    </p>
                    <p>
                        <label for="uname">用户密码:</label>
                        <input type="password" class="form-control" id="password" name="password" value="<%=editData.password%>">
                    </p>
                    <p>
                        <label for="uimg">用户年龄:</label>
                        <input type="text" class="form-control" id="age" name="age" value="<%=editData.age%>">
                    </p>
                    <p>
                        <label for="price">用户性别:</label>
                        <input type="text" class="form-control" id="sex" name="sex" value="<%=editData.sex%>">
                    </p>
                    <p>
                        <label for="postage">用户地址:</label>
                        <input type="text" class="form-control" id="address" name="address" value="<%=editData.address%>">
                    </p>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>

</html>